/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    background-color: #26292F;
    color: #FFFFFF;
}

h2 {
    padding-top: 2rem;
    text-align: center;
}

h2,
h4 {
    color: #FFFFFF;
}

.form-control,
.form-select,
.card {
    background-color: #1B1E22;
    border: none !important;
    box-shadow: 0px 1px 3px #1b1e22;
}

label,
.form-control,
select:valid {
    color: #D2D2D2;
}

a, 
a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

.link_authentification {
    color: #68B684;
}

.input_div_btn {
    text-align: center;
}

.input_btn {
    background-color: #68B684;
    border-radius: 0.2rem;
    color: #FFFFFF;
    border: none;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin: 1.5rem 2rem 0rem 2rem;

}

.div-margin {
    margin-top: 2rem;
}

.input-light {
    border: none !important;
    background-color: #26292f !important;
    border-radius: 4px;
}

th,
td {
    color: #D2D2D2 !important;
    background-color: #1B1E22 !important;
    border-radius: 4px;
}

.crystalZ {
    color: #68B684;
}