<div class="card mb-4" *ngIf="member">
    <div class="card-body">
        <p class="card-text">
            <strong>
                {{ member.surname}}
                {{ member.name}}
            </strong>
        </p>
    </div>
</div>