<div class="card mb-4" *ngIf="home">  
    <div class="card-body">
      <p class="card-text">
        <strong>
            {{ home?.name }}
        </strong>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <div *ngIf="home">
          <div class="btn-group">
            <button [routerLink]="['/home-details', home.id]" type="button" class="btn btn-sm btn-outline-secondary home-btn">Home Details</button>
            <button (click)="onHomeDelete(home.id)" type="button" class="btn btn-sm btn-outline-secondary  product-btn">
                Supprimer
            </button>
            <button [routerLink]="['/update-home-information', home.id]" type="button" class="btn btn-sm btn-outline-secondary product-btn">
              Renommer
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>