<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Renommer foyer</h2>
            <form [formGroup]="updateHomeForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="name">Nouveau nom foyer</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Les Koalas">
                    </div>
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <input type="submit" value="Renommer foyer" class="input_btn"> 
                </div>
            </form>
        </div>
    </div>
</div>