<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Connexion</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="username">E-mail</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="DarkPanda">
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" formControlName="password" class="form-control" placeholder="**********">
                    </div>
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <input type="submit" value="Se connecter" class="input_btn"> 
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <p>Pas encore client ? <a [routerLink] = "['/signup']" class="link_authentification">S'inscrire</a></p>
                </div>
            </form>
        </div>
    </div>
</div>