<div class="container">
    <h2 class="mb-3">Changer vos informations</h2>
    <div class="col-md-12">
        <h3 class="mb-3">Info membre</h3>
        <form [formGroup]="updateMemberForm" (ngSubmit)="onUpdateMemberSubmit()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="surname">Nouveau prénom</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Jean">
                </div>

                <div class="col-md-6 mb-3">
                    <label for="name">Nouveau nom</label>
                    <input type="text" formControlName="surname" class="form-control" placeholder="Martin">
                </div>
            </div>
            <div class="col-md-12 mb-3 input_div_btn">
                <input type="submit" value="Mettre à jour" class="input_btn">
            </div>
        </form>
    </div>
    <div class="col-md-12">
        <h3 class="mb-3">Info compte</h3>
        <form [formGroup]="updateAccountForm" (ngSubmit)="onUpdateAccountSubmit()">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="email">Nouveau email</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Jean@mail.fr">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email">Nouveau password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="***********">
                </div>
            </div>
            <div class="col-md-12 mb-3 input_div_btn">
                <input type="submit" value="Mettre à jour" class="input_btn">
            </div>
        </form>
    </div>
</div>