<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Créer un foyer</h2>
            <form [formGroup]="homeCreationForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="name">Nom du foyer</label>
                        <input type="text" formControlName="homeName" class="form-control" placeholder="Les Koalas">
                    </div>
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <input type="submit" value="Créer foyer" class="input_btn"> 
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <a [routerLink] = "['/home']" class="link_authentification">Revenir à mes foyers</a>
                </div>
            </form>
        </div>
    </div>
</div>