<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h2 class="mb-3">Mes foyers</h2>
          <div class="row">
              <div class="col-md-4" *ngFor="let home of homes$ | async">
                  <app-home-item [home]="home"></app-home-item>
              </div>
          </div>
          <div class="col-md-12 mb-3 input_div_btn">
            <input [routerLink]="['/create-home']" type="button" value="Ajouter foyer" class="input_btn"> 
          </div>
      </div>
  </div>
</div>