<div class="container">
    <div class="row" *ngIf="(home$ | async) as home">
        <h2>{{home.name}}</h2>


        <div *ngIf="(choreList$ | async)?.length === 0" class="alert alert-info div-margin">Il n'y a pas de tâche
            actuellement. Revenez plus tard =( !</div>

        <div class='row'>
            <div class="col-md-10 mb-3">
                <h3>Liste des tâches : </h3>
                <div class="mb-3 input_div_btn">
                    <input [routerLink]="['/add-chore', home.id]" type="button" value="Ajouter une tâche"
                        class="input_btn">
                </div>
            </div>
            
            <div class="col-md-5 mb-3">
                <h2 class="mb-3">Tâches terminées</h2>
                <div class="div-margin" *ngFor="let chore of choreList$ | async">
                    <div class="row" *ngIf="chore.completed">
                        <app-home-details-chores [chore]="chore">
                        </app-home-details-chores>
                    </div>
                </div>
            </div>

            <div class="col-md-5 mb-3">
                <h2 class="mb-3">Tâche à faire</h2>
                <div class="div-margin" *ngFor="let chore of choreList$ | async">
                    <div class="row" *ngIf="!chore.completed">
                        <app-home-details-chores [chore]="chore">
                        </app-home-details-chores>
                    </div>
                </div>
            </div>


            <div class="col-md-2 mb-3">
                <h4>Liste des membres : </h4>
                <div class="mb-3 input_div_btn">
                    <input [routerLink]="['/add-member', home.id]" type="button" value="Ajouter un membre" class="input_btn">
                </div>
                <div class="div-margin" *ngFor="let member of memberList$ | async">
                    <app-home-details-members [member]="member">
                    </app-home-details-members>
                </div>
            </div>
        </div>
    </div>
</div>