<div class="container">
    <div class="row">
        <div class="card mb-12 mb-3">
            <div *ngFor="let member of allMembers">
                <div class="card-body">
                    <p class="card-text">
                        <strong>
                            {{ member.surname }}
                            {{ member.name }}
                        </strong>
                    </p>
                    <div class="col-md-12 mb-3 input_div_btn">
                        <input (click)="addMemberToHome(member.id)" type="submit" value="Ajouter le membre au foyer" class="input_btn"> 
                    </div>
                </div>
            </div>            
        </div>
    </div>    
</div>


