<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3 h2">Inscription</h2>
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="row">

                    <div class="col-md-12 mb-3">
                        <label for="username">Adresse e-mail</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="DarkPanda">
                    </div>

                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="password">Mot de passe</label>
                            <input type="password" formControlName="password" class="form-control"
                                placeholder="**********">
                        </div>

                    </div>
                    <div class="col-md-12 mb-3 input_div_btn">
                        <input type="submit" value="S'inscrire" class="input_btn">
                    </div>
                    <div class="col-md-12 mb-3 input_div_btn">
                        <p>Déjà inscrit ? <a [routerLink]="['/signin']" class="link_authentification">Se connecter</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>