<div class="container">
    <div class="row" *ngIf="(chore$) as chore">
        <h2>{{chore.name}}</h2>

        <div class="row">
            <div class="col-md-12">
                <h4>Membres assignés à cette tâche</h4>
                <ul>
                    <div *ngFor="let member of chore.assignedMembers">
                        <li>{{member.name}} {{member.surname}}</li>
                    </div>
                </ul>
            </div>
        </div>

        <div *ngIf="(chore.completed)">
            <div class="row">
                <div class="col-md-12">
                    <h4>Notes attribuées à cette tâche</h4>
                    <ul>
                        <div *ngFor="let review of chore.reviews">
                            <li>{{review.reviewScore}}</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div *ngIf="(chore.completed)">
                    <form [formGroup]="reviewChoreForm" (ngSubmit)="reviewChore()">
                        <label>Note à attribuer :</label>
                        <select formControlName="reviewScore" class="form-select" aria-label="Default select example">
                            <option value="0">Pas fait</option>
                            <option value="1">Mal fait</option>
                            <option selected value="2">Fait</option>
                            <option value="3">Bien fait</option>
                        </select>
                        <div class="col-md-12 mb-3 input_div_btn">
                            <input type="submit" value="Noter la tâche" class="input_btn">
                        </div>
                    </form>

                </div>
                <div *ngIf="(!chore.completed)">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <input (click)="assignMeToChore()" type="submit" value="M'assigner cette tâche" class="input_btn">
                        </div>
                        <div class="col-md-6 mb-3">
                            <input (click)="completeChore()" type="submit" value="Terminer la tâche" class="input_btn">
                        </div>                        
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12 mb-3 input_div_btn">
            <a [routerLink] = "['/home-details', chore.homeId]" class="link_authentification">Revenir au foyer</a>
        </div>
        
    </div>
</div>