<div class="container">
    <div class="row">
        <div class="col-md-5">
            <p>Mon image</p>
        </div>
        <div class="col-md-6">
            <h2>
                <span>
                    Chore<span> Tycoon</span>
                </span>
                , your chore tracker !
            </h2>
            <p className="mt-3 mb-5">
                La nouvelle application web permettant de suivre les corvées de son foyer !
            </p>
        </div>
    </div>
</div>