<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Créer une tâche</h2>
            <form [formGroup]="createChoreForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="name">Nom de la tâche</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Faire les courses">
                    </div>
                    <div class="form-group">
                        <label for="description">Description de la tâche</label>
                        <textarea class="form-control" formControlName="description" id="description" rows="3" placeholder="Acheter de quoi manger pour la semaine !"></textarea>
                    </div>
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <input type="submit" value="Créer tâche" class="input_btn"> 
                </div>
                <div class="col-md-12 mb-3 input_div_btn">
                    <a [routerLink] = "['/home-details', homeId]" class="link_authentification">Revenir au foyer</a>
                </div>
            </form>
        </div>
    </div>
</div>