<nav class="navbar navbar-expand">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/']">Welcome</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="isConnected$ | async" class="nav-link" [routerLink]="['/home']">Mes foyers</a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0">
            <a *ngIf="!(isConnected$ | async) && currentRoute!=='/signin'" class="btn btn-outline-success my-2 my-sm-0 margin_btn" [routerLink]="['/signin']">Se connecter</a>
            <a *ngIf="!(isConnected$ | async) && currentRoute!=='/signup'" class="btn btn-outline-success my-2 my-sm-0 margin_btn" [routerLink]="['/signup']">S'inscrire</a>
            <a *ngIf="isConnected$ | async" class="btn btn-outline-success my-2 my-sm-0 margin_btn" [routerLink]="['/update-information']">Mon profil</a>
            <button *ngIf="isConnected$ | async" class="btn btn-outline-success my-2 my-sm-0 margin_btn">Se déconnecter</button>
        </form>
    </div>
</nav>