.navbar {
    background-color: #1b1e22;
    height: 4rem !important;
}

.navbar-brand {
    font-weight: 700;
}

a {
    color: white !important;
}

.nav-link-active {
    color: #68b684 !important;
}

#lblCartCount {
    font-size: 12px;
    background: #68b684;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.margin_btn {
    margin: 0.5rem;
}

.navbar-padding {
    padding: 0 !important;
}