<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger alert-div" role="alert">
                <h2>Une erreur est survenue 😓</h2>
                <p>
                    Vous avez essayé d'accéder à une page qui n'existe
                    pas. Cliquez
                    <a [routerLink] = "['/']">Ici</a>
                    pour être ramené à la maison.
                </p>
            </div>
        </div>
    </div>
</div>