<div class="card mb-4" *ngIf="chore">
    <div class="card-body">
        <h4 class="card-title">{{chore.name}}</h4>
        <p class="card-text">
            <strong>
                {{ chore.description }}
            </strong>
        </p>
        <button [routerLink]="['/chore-details', chore.id]" type="button" class="btn btn-sm btn-outline-secondary home-btn">Chore Details</button>
        <button (click)="deleteChore()" type="button" class="btn btn-sm btn-outline-danger home-btn ml-2">Delete chore</button>
    </div>
</div>